In [26]:
import pandas as pd
from datetime import date

### Lectura de dataframes

In [3]:
df = pd.read_csv("Sample - Superstore.csv")

In [8]:
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

### Cast string to Date

In [9]:
df['Ship Date'] = pd.to_datetime(df['Ship Date'])
df['Order Date'] = pd.to_datetime(df['Order Date'])

creating two new columns with year and month values from order date

In [14]:
df['Order Date Month'] = df['Order Date'].dt.month
df['Order Date Year'] = df['Order Date'].dt.year

In [16]:
df.head(3)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Order Date Month,Order Date Year
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136,11,2016
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820,11,2016
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62,2,0.0,6.8714,6,2016

### Ejercicios

0. Haga un analisis de nulos por cada columna

1. Cree una nueva columna "total" que contenga la multiplicacion de: Quantity y Sales

2. la suma de total agrupado por Customer ID, mes y anio

3. Segun la fecha Actual cuantos dias han pasado desde la ultima compra de cada cliente

Pista: para poder restar fechas y obtener el numero de dias puede lo siguiente:

In [21]:
(df['Ship Date'] - df['Order Date']).dt.days

0       3
1       3
2       4
3       7
4       7
       ..
9989    2
9990    5
9991    5
9992    5
9993    5
Length: 9994, dtype: int64

Pista: para obtener la fecha actual puede usar la siguiente instruccion

In [27]:
date.today()

datetime.date(2022, 3, 23)

4. El producto mas vendido por mes y anio

5. Top 3 por anio de los productos que generaron mejor profit

6. Profits summados por Country

7. en que ciudades se encuentran los mejores 3 clientes tomando en cuenta toda la data historica

8. Por cliente cual es el promedio y mediana de dias transcurridos de una transaccion a otra

Notas:

- Para el primer registro tomado por un cliente la diferencia con respecto a la fecha anterior seria cero, ya que no hay data historica. 
- Para el segundo registro deberia de restar la fecha de la ultima transaccion menos la actual

Ejemplo:

In [33]:
pd.DataFrame({
      "Cliente": ["A","A"]
    , "date order" : ['2016-11-08','2016-11-10']
    , "Dias desde la ultima venta": [0, 2]
})

  Cliente  date order  Dias desde la ultima venta
0       A  2016-11-08                           0
1       A  2016-11-10                           2

Pista:

Para realizar este tipo de transformaciones debe de usar funciones de ventana. para este caso en particual el Lag

In [41]:
DFEjemplo = pd.DataFrame({
    "Cliente": ["A","A","B","B","B"]
    , "Venta": [2000,100,200,300,4000]
})

In [42]:
DFEjemplo['lagVenta'] =  DFEjemplo.groupby(["Cliente"], as_index=False)['Venta'].shift(1)

In [43]:
DFEjemplo

  Cliente  Venta  lagVenta
0       A   2000       NaN
1       A    100    2000.0
2       B    200       NaN
3       B    300     200.0
4       B   4000     300.0

Si lo que busca es un Lead (no es el caso para el ejercicio solicitado) , en el parametro de shift le debe de pasar un -1

In [44]:
DFEjemplo['leadVenta'] =  DFEjemplo.groupby(["Cliente"], as_index=False)['Venta'].shift(-1)

In [45]:
DFEjemplo

  Cliente  Venta  lagVenta  leadVenta
0       A   2000       NaN      100.0
1       A    100    2000.0        NaN
2       B    200       NaN      300.0
3       B    300     200.0     4000.0
4       B   4000     300.0        NaN

9. Conteo de registros por ship mode